@using Nest.Models
@model Nest.ViewModels.ViewPostViewModel

@{
    ViewBag.Title = "ViewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card well-sm mb-2">
        <div class="card-body">
            @if (Model.Post.Title != "") {
                <h5 class="card-title mb-0">@Model.Post.Title</h5>
            }
            <p class="card-text text-muted text-smaller">@(Model.Post.User == null ? "Unknown" : Model.Post.User.Handle)</p>
            <p class="card-text">@Model.Post.Text</p>
            <p class="small text-muted mb-0">@Model.Post.Timestamp.ToString("H:mm MMMM dd, yyyy") // @(Model.Post.Channel == null ? Html.ActionLink("Archived", "Feed", new { category = "", page = 1 }) : Html.ActionLink((string)Model.Post.Channel.Name, "Feed", new { category = Model.Post.Channel.Name, page = 1 }))</p>
        </div>
        @if ((User)HttpContext.Current.Session["user"] != null) {
            if (((User)HttpContext.Current.Session["user"]).Id == Model.Post.User.Id || ((User)HttpContext.Current.Session["user"]).Role >= 2) {
                <div class="card-footer">
                    @Html.ActionLink("comments (" + 0 + ")", "ViewPost", new { id = Model.Post.Id }, new { @class = "btn" })
                    @Html.ActionLink("edit", "EditPost", new { id = Model.Post.Id, channel = Model.Post.Channel.Name }, new { @class = "btn" })
                    @Html.ActionLink("delete", "DeletePost", new { id = Model.Post.Id, channel = Model.Post.Channel.Name }, new { @class = "btn" })
                </div>
            }
        }
        <div class="dropdown-divider"></div>
        <div class="commentsection">
            <div class="newcomment">
                @using (Html.BeginForm("AddComment", "Post")) {
                    @Html.HiddenFor(model => model.PostId, new { Value = Model.Post.Id })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.New.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.New.Text)
                    </div>
                    <input type="submit" value="save" class="btn text-dark" />

                }

            </div>
            @foreach (Comment comment in Model.Comments) {
                <div class="card">
                    <div class="card-body">
                        <div class="col-2 float-left">
                            <img class="col-12" />
                            <span class="oi oi-heart mx-auto"></span>
                        </div>
                        <div class="col-10 float-left">
                            <p class="card-text">@comment.Text</p>
                            <p class="small text-muted">@comment.Timestamp.ToString("H:mm MMMM dd, yyyy")</p>
                        </div>
                    </div>
                    Comment
                </div>
            }
        </div>
    </div>