@model Nest.ViewModels.ChannelMenuViewModel

    <nav class="navbar navbar-expand-md navbar-light bg-light col-12 mb-3">
        <div class="container col-12">
            @Html.ActionLink("Feed", "Feed", "Post", new { page = 1 }, new { @class = "navbar-brand" })
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#channelNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="channelNav">
                <ul class="navbar-nav mr-auto">
                   @foreach (var channel in Model.Channels.Where(c => c.Parent == null || c.Parent.Id == 1)) {
                        if (Model.Channels.Where(c => c.Parent != null && c.Parent.Id != 0 && c.Parent.Id == channel.Id).Count() > 0) {
                            <li class="dropdown">
                                <button class="dropdown-toggle border-0" type="button" data-toggle="dropdown" aria-expanded="false" aria-label="Toggle dropdown" id="@(channel.Name + "Dropdown")">
                                    <span class="text-dark text-decoration-none">@channel.Name</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="@(channel.Name + "Dropdown")">
                                   @Html.ActionLink(channel.Name, "Feed", "Post", new { page = 1, category = channel.Name }, new { @class = "dropdown-item text-decoration-none"})
                                    <div class="dropdown-divider"></div>
                                   @foreach (var child in Model.Channels.Where(c => c.Parent != null && c.Parent.Id == channel.Id)) {
                                        @Html.ActionLink(child.Name, "Feed", "Post", new { page = 1, category = child.Name }, new { @class = "dropdown-item text-decoration-none"})
                                    }
                                </div>
                            </li>
                        } else {
                            <li class="nav-item">
                               @Html.ActionLink(channel.Name, "Feed", "Post", new { page = 1, category = channel.Name }, new { @class = "text-dark text-decoration-none"})
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
